html {
  font-size: 16px;
}

#banner {
  position: relative;
  height: 21rem;
  background: url('../img/jerky_wholesale_jumbotron.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* makes sure the overlay sits nicely */
}

/* the grey filter */
#banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.2); /* black at 50% opacity */
  z-index: 0;
}

/* your title */
#banner h1 {
  position: relative;  /* bring it above the overlay */
  z-index: 1;
  color: #fff;
  font-size: 4rem;     /* tweak as needed */
  font-weight: 400;    /* light/normal */
  font-family: 'Raleway', sans-serif;
}
.jerky_pack {
  max-height: 190px;
  width: auto;
}

.jerky_flavour {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.wholesale_intro {
  font-family: 'Quicksand';
  font-size: 1rem;
  margin: 2% 15% 2% 15%;
}

.btn_order {
  text-align: center;
}

.jerky_post {
  max-height: 190px;
  width: auto;
}


@media only screen and (max-width: 480px), (orientation: portrait) {
    /* ruleset for width less than 480px (mobile users) */
  html {
  font-size: 12px;
  }

  #banner h1 {
    width: 75%;
    font-size: 3.8rem;
  }

  .jerky_pack {
  width: 30%;
  height: auto;
  /*border: 3px solid red;*/
  /*margin: 2% 15% 2% 15%;*/
  }

  .wholesale_intro {
  font-family: 'Quicksand';
  font-size: 1.2rem;
  margin: 2% 5% 2% 5%;
  }

  .photos {
  display: none;
  }
}
