html {
  font-size: 16px;
}

#banner {
  position: relative;
  height: 21rem;
  background: url('../img/Front.jpg') top/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* makes sure the overlay sits nicely */
}

/* the grey filter */
#banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5); /* black at 50% opacity */
  z-index: 0;
}

/* your title */
#banner h1 {
  position: relative;  /* bring it above the overlay */
  z-index: 1;
  color: #fff;
  font-size: 4rem;     /* tweak as needed */
  font-weight: 400;    /* light/normal */
  font-family: 'Raleway', sans-serif;
}

.map-container{
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
height: 0;
/*border:3px solid red;*/
}

.text-center {
  font-family: 'Quicksand', sans-serif;
}

.container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

@media only screen and (max-width: 480px), (orientation: portrait) {
    /* ruleset for width less than 480px (mobile users) */
  html {
  font-size: 12px;
  }
}